---
layout: page
---

<div class="home">
    <h1>Memex<sup>β</sup></h1>
    <ul>
        <li><a href="{{ site.baseurl }}/milestones.html">[0.1] Milníky</a> ({{ site.data.milestones | size }} karet)
        <li><a href="{{ site.baseurl }}/figures.html">[0.2] Osobnosti</a> ({{ site.data.figures | size }} karet)
        <li><a href="{{ site.baseurl }}/theories.html">[0.3] Teorie</a> 
        
        {% assign t1 = site.data.theories.Teorie | size %}
        {% assign t2 = site.data.theories.Metateorie | size %}
        {% assign t3 = site.data.theories.Paradigmata | size %}
        ({{ t1 }} + {{ t2 }} + {{ t3 }} = {{ t1 | plus: t2 | plus: t3 }} karet)
    
        {% for topic in site.topics %}
            <li>
                <a href="{{ site.baseurl }}{{ topic.url }}">[{{ topic.class }}] {{ topic.name }}</a><br>
                
                {% assign counter = 0 %}
                {% for set_hash in topic.sets %}
                    {% assign set = set_hash[1]%}
                    {% assign closedCount = set.closedQuestions | size %}
                    {% assign counter = counter | plus: closedCount %}
                {% endfor %}
                
                <b>{{ topic.sets | size }}</b> okruhů, 
                <b>{{ counter }}</b> uzavřených, 
                <b>{{ topic.literature | size }}</b> zdroje, 
                <b>{{ topic.activities | size }}</b> aktivity
            </li>
        {% endfor %}
    </ul>
</div>
