---
layout: page
---

<div class="home">
    <h1>Memex<sup>β</sup></h1>
    <ul>
        <li><a href="{{ site.baseurl }}/milestones.html">[0.1] Milníky</a>
        <li><a href="{{ site.baseurl }}/figures.html">[0.2] Osobnosti</a>
        <li><a href="{{ site.baseurl }}/theories.html">[0.3] Teorie</a>
    
        {% for topic in site.topics %}
            <li>
                <a href="{{ site.baseurl }}{{ topic.url }}">
                    [{{ topic.class }}]
                    {{ topic.name }} 
                </a>
                
                {% if topic.guarantorName != '' %}
                    (garance {{ topic.guarantorName }})
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
