{{ define "content" }}
<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ .Page.Title }}</h1>
    </header>
    <div class="post-content">
        <div class="home">
            <h1>Memex<sup>β</sup></h1>
            <ul>
                <li><a href="milestones.html">[0.1] Milníky</a> ({{ len .Site.Data.milestones }} karet)
                <li><a href="figures.html">[0.2] Osobnosti</a> ({{ len .Site.Data.figures }} karet)
                <li><a href="theories.html">[0.3] Teorie</a>
                    

                {{ $t1 := len .Site.Data.theories.Teorie }}
                {{ $t2 := len .Site.Data.theories.Metateorie }}
                {{ $t3 := len .Site.Data.theories.Paradigmata }}
                (add {{ $t1 }} + {{ $t2 }} + {{ $t3 }} = {{ add (add $t1 $t2) $t3 }} karet)
                {{ range where (where .Site.Pages "Section" "topic") "Kind" "page" }}
                    <li>
                        <a href="{{ .RelPermalink }}">[{{ .Params.class }}] {{ .Params.name }}</a><br>
                        {{ $counter := 0 }}
                        {{ range .Params.sets }}
                            {{ with .closed }}
                                {{ $closedCount := len (where . "remove" "ne" "true") }}
                                {{ $counter = add $counter $closedCount }}
                            {{ end }}
                        {{ end }}
                        <b>{{ with .Params.sets }}{{ len (where . "remove" "ne" "true") }}{{ else }}0{{ end }}</b> okruhů,
                        <b>{{ $counter }}</b> uzavřených,
                        <b>{{ with .Params.literature }}{{ len . }}{{ else }}0{{ end }}</b> zdroje,
                        <b>{{ with .Params.activities }}{{ len . }}{{ else }}0{{ end }}</b> aktivity
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</article>
{{ end }}
