---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.name }}</h1>
    <p>(obsahová garance: <b>{{ page.guarantorName }}</b>)</p>
  </header>

  <div class="post-content">
  
    <h2>Pro zájemce</h2>
    <h3>Doporučená literatura</h3>
    
    <ul>
        {% for literature in page.literature %}
            <li>{{ literature | markdownify }}</li>
        {% endfor %}
    </ul>
  
    <h3>Doporučené aktivity</h3>

    <ul>
        {% for activity in page.activities %}
            <li>{{ activity | markdownify }}</li>
        {% endfor %}
    </ul>
    
    <h2>Okruhy</h2>
    
    {% for set_hash in page.sets %}
        {% assign set = set_hash[1] %}
        <h3>[{{ set.class }}] {{ set.name }}</h3>
        
        <h4>Otevřená otázka</h4>
        <p>{{ set.open }}</p>
        
        <h4>Uzavřené otázky</h4>    
        <ol>
        {% for q in set.closedQuestions %}
            <li>
                <dl data-topic="{{ set.class }}" class="question">
                    <dt>{{ q.question }}</dt>
                    <dd>{{ q.answer }}</dd>
                </dl>
            </li>
        {% endfor %}
        </ol>
        
    {% endfor %}
  </div>

</article>
